.ft-link-container {
  margin: 10px auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 0 20px 0;
  border-bottom: 1px solid grey;
}
.ft-links {
  margin: 0 10px;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.ft-headings {
  margin: 0;
}
.ft-links > div {
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  color: blue;
}
.ft-links > div:hover {
  text-decoration: underline;
}
.ft-last {
  margin: 0 auto;
  width: 80%;
  padding: 0 0 40px 0;
  font-size: 14px;
}
@media (max-width: 480px) {
  .ft-links {
    margin-top: 10px;
  }
  .ft-link-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .ft-links {
    margin-top: 10px;
    min-width: 220px;
  }
  .ft-link-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}
