.migrate-to {
  border: none;
  outline: none;
  font-size: 24px;
  margin-left: 15px;
  padding: 10px 30px;
}
.migrate-to:focus {
  border: none;
  outline: none;
}
.label {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 10px;
}
.date-picker {
  outline: none;
  border: none;
}
.location-input {
  flex: 3;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 70px;
}
.traveller-container {
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}
.traveller-box {
  display: flex;
  flex: 2;
  flex-direction: column;
  height: 100%;
  display: inline-block;
  width: 300px;
}
.date-label {
  border: 1px solid black;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
  padding: 15px 30px;
  flex: 1;
  margin: 0 1rem;
}
.user-icon {
  margin-left: 0;
}

.input-additional {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  width: 80%;
  margin: 10px auto;
}
.input-additional label {
  margin-right: 40px;
  display:flex;
  align-items:center;
}
.stays-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  margin-bottom: 20px;
}
.qr-code-img {
  width: 300px;
}
@media (max-width: 480px) {
  .input-container {
    flex-direction: column;
    height: 250px;
  }
  .date-label {
    flex: 1;
    width: 100%;
  }
  .location-input {
    flex: 1;
  }
  .traveller-box {
    flex: 1;
    width: 100%;
  }
}
@media (max-width: 720px) {
  .input-container {
    flex-direction: column;
    align-items: center;
    height: 250px;
  }
  .date-label {
    flex: 1;
  }
  .location-input {
    flex: 1;
  }
  .traveller-box {
    flex: 1;
  }
}
