.result-container {
  display: flex;
  border: 1px solid #3762d8;
  margin: 20px auto;
  object-fit: contain;
  border-radius: 10px;
  background-color: #fff;
}
.size-cour {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.img-container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.rating-details {
  font-weight: bold;
}
.name-container {
  margin-left: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-container {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  /* border: 2px solid green; */
  align-items: flex-end;
}
.hotel-name {
  text-align: left;
  /* font-size: 1.4em; */
}
.hotel-name > h4 {
  font-size: 1.45em;
}
.hotel-name > h5 {
  font-size: 1.15em;
}
.line-through {
  text-decoration: line-through;
}
@media (max-width: 480px) {
  .result-container {
    flex-direction: column;
  }
  .details-container {
    font-size: 0.75em;
  }
}
@media (max-width: 720px) {
  .result-container {
    flex-direction: column;
  }
  .details-container {
    font-size: 0.85em;
  }
  .hotel-name > h4 {
    font-size: 1.55em;
  }
  .hotel-name > h5 {
    font-size: 1.25em;
  }
}
@media (max-width: 1080px) {
  .result-container {
    flex-direction: column;
  }
  .details-container {
    font-size: 0.85em;
  }

  .size-cour {
    /* width: 300px; */
    /* height: 200px; */
    border-radius: 10px;
  }

  .img-container {
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
  }
}
.main-container {
  display: flex;
  width: 75%;
  margin: 0 5% 10%;
  /* border: 2px solid red; */
  background-color: #f8f5f4;
}
.left-details-container {
  text-align: left;
}
.tag {
  background-color: #0d7066;
  border-radius: 10px;
  color: white;
  padding: 0 1rem;
}
.sidebar-container {
  width: 200px;
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.element-container {
  /* border: 2px solid green; */
  flex: 5;
}
.right-details-container {
  text-align: right;
  margin: 0 10px 0 0;
}
.map-google {
  border: 2px solid rgb(0, 0, 0);
  margin: 0 auto;
  border-radius: 10px;
}
.filter-input {
  height: 35px;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 20px;
}
