.result-container {
  display: flex;
  border: 1px solid #3762d8;
  margin: 20px auto;
  object-fit: contain;
  border-radius: 10px;
  background-color: #fff;
}
.size-cour {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.img-container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.rating-details {
  font-weight: bold;
}
.name-container {
  margin-left: 40px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.details-container {
  display: flex;
  justify-content: space-between;
}
.hotel-name {
  text-align: left;
}

@media (max-width: 480px) {
  .result-container {
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  .result-container {
    flex-direction: column;
  }
}
.main-container {
  display: flex;
  width: 75%;
  margin: 0 5% 10%;
  /* border: 2px solid red; */
  background-color: #F8F5F4;
}

.sidebar-container {
  width: 200px;
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.element-container {
  /* border: 2px solid green; */
  flex: 5;
}
.map-google {
  border: 2px solid rgb(0, 0, 0);
  margin: 0 auto;
  border-radius: 10px;
}
