/* .maindiv{
    display: flex;
    margin-left:150px
}

.firstdiv{
    display:flex;
    
}
.seconddiv{
    display:flex;
    margin-left: 545px;
}
.firstdiv>div{
    margin-left: 40px;
    
}
.seconddiv>div{
    display:flex;
    margin-left: 40px;
    color:blue
}
input{
    margin-top: 30px;
    height:40px;
    font-size: 18px;
    
}
 .migrate{
    margin-top: 30px;
    width:290px;
    margin-left: 20px;

    
 }
 .date{
    margin-top: 30px;
    width:180px;
    margin-left: 20px;
 }
 .inputdiv{
     margin-left:160px;
 }

 button{
     color:white;
     background-color: rgb(54,98,216);
     height:40px;
     width:150px;
     font-weight: bolder;
     font-size: medium;
     border-radius: 8px;
     border:none;
     margin-top: 20px;
     margin-left: 42%
     

 }
  */