.header-container {
  display: flex;
  width: 80%;
  margin: 30px auto;
  justify-content: center;
  height: 30px;
  border-bottom: 1px solid gray;
}
.header-container div {
  margin: 0 20px;
  font-weight: 500;
  line-height: 1.125rem;
  padding-bottom: 5px;
  cursor: pointer;
}
.header-container div:active {
  color: #3762d8;
}
.header-container div:hover {
  color: #3762d8;
  border-bottom: 2px solid #3762d8;
}
