  .card{
    
    height: 80px;
    width: 150px;
    border: 0.5px solid grey;
    border-radius: 8px;
}

.card .things_para{
    font-size: 10px;
    color: red;
   /* border: 2px solid green;   */
}

